@highlightColor : lighten(color("#18BC9C"), 35);

.btn.status {
  padding: 4px;
  font-size: 8px;
  float: right;
}
.table-striped tbody tr.highlight-on-hover:hover td {
  background-color: @highlightColor;
}

.control-group .error-text {
  display: none;
}