{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
 
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                {{#if name}}
                    Edit {{name}}
                {{else}}
                    Add Federated Source
                {{/if}}
            </h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal add-federated-source">
                <fieldset>
                    {{#if currentConfiguration.attributes.id}}
                        <label>Source ID: </label><span> {{currentConfiguration.attributes.id}}</span>
                    {{/if}}
                    <div class="control-group">
                        <label class="control-label">Source Type</label>
                        <div class="controls">
                            <select class="sourceTypesSelect"></select>
                        </div>
                    </div>
                    <div class="modal-details"></div>
                    <div class="source-buttons"></div>
                </fieldset>
            </form>
        </div>

        <div class="modal-footer">
            <div class="btn-group">
                {{#if currentConfiguration.attributes.id}}
	                <button type="button" class="btn btn-primary submit-button">Save</button>
                {{else}}
	                <button type="button" class="btn btn-primary submit-button">Add</button>
                {{/if}}
                <button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
