{{#if currentConfiguration.attributes.enabled}}
    <div class="btn btn-success btn-sm disable-button">
         Enabled
    </div>
{{else}}
    <div class="btn btn-warning btn-sm enable-button">
         Disabled
    </div>
{{/if}}
